@import url('https://fonts.googleapis.com/css2?family=Bungee+Outline&display=swap');


.landing {
  display: flex;
  flex-direction: column;
  height: 1000px;
}

.landing-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  /* margin: 15px auto; */
  height: 600px;
  /* border: 2px solid green; */
}

#my-img{
  margin-top: 300px;
}

.intro {
  margin-top: 300px;
  margin-left: 132px;
  margin-right: -107px;
  font-family: 'Bungee Outline', cursive;
  font-size: 70px;
  color: white;
  text-shadow: 0px -2px #5AFFBA, 0px 2px #c88df3, 2px 0 black;
}
.name {
  margin-top: 300px;
  margin-right: 95px;
  font-family: 'Bungee Outline', cursive;
  font-size: 70px;
  color: white;
  text-shadow: 0px -2px #5AFFBA, 0px 2px #c88df3, 2px 0 black;
}

.info-bite{
  align-self: center;
  padding: 15px;
  margin-top: 140px;
  margin-right: 44px;
  width: 520px;
  border: 2px solid #5affba;
  box-shadow: 4px 4px #c88df3, 7px 7px black;
}

@media screen {
  
}