@import url('https://fonts.googleapis.com/css2?family=Bungee+Outline&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;1,200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Short+Stack&family=Supermercado+One&display=swap');


/*.nav-container{
  display: grid;
  grid-template-columns: repeat(10, 10%);
  grid-template-rows: repeat(10, 10%);
  position: fixed;
  height: 100px;
  background-color: whitesmoke;
  width: 100vw;
}

.home-btn{
  grid-row: 5;
}

.nav-links{
  grid-column: 8;
  grid-row: 2;
  padding: 10px;
  margin-top: 10px;
  margin-right: 60px;
}

.about-link{
  font-family: 'Montserrat', sans-serif;
  margin: 10px;
  font-size: 25px;
  color: #706993;
  font-weight: 400;
  text-shadow: 1px 3px 5px black;
}

.contact-link{
  font-family: 'Supermercado One', cursive;
  margin: 10px;
  font-size: 30px; 
  color: #706993;
  text-shadow: 2px 2px 2px gray;
}

.projects-link{
  font-family: 'Montserrat', sans-serif;
  margin: 10px;
  font-size: 25px;
  color: #706993;
  font-weight: 400;
  text-shadow: 1px 3px 5px black;
}



a {
  text-decoration: none;
}

@media (max-width: 390px ) {
  .nav-container{
  overflow: hidden;
  background-color: whitesmoke;
  position: relative;
  }

.nav-links{
  display: none;
}

.nav-container Link{

}




} */

/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
} */

.container {
  max-width: 1050px;
  width: 90%;
  margin: auto;
}

.navbar {
  width: 100%;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 62px;
}

.navbar .menu-items {
  display: flex;
}

.navbar .nav-container li {
  list-style: none;
}

.navbar .nav-container a {
  text-decoration: none;
  color: #0e2431;
  font-weight: 500;
  font-size: 1.2rem;
  padding: 0.7rem;
}

.navbar .nav-container a:hover{
    font-weight: bolder;
}

.nav-container {
  display: block;
  position: relative;
  height: 60px;
}

.nav-container .checkbox {
  position: absolute;
  display: block;
  margin-top: 20px;
  height: 32px;
  width: 32px;
  z-index: 5;
  opacity: 0;
  cursor: pointer;
}

.nav-container .hamburger-lines {
  display: block;
  height: 26px;
  width: 32px;
  position: absolute;
  margin-top: 20px;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.nav-container .hamburger-lines .line {
  display: block;
  height: 4px;
  width: 100%;
  border-radius: 10px;
  background: #A0C1B9;
}

.nav-container .hamburger-lines .line1 {
  transform-origin: 0% 0%;
  transition: transform 0.4s ease-in-out;
}

.nav-container .hamburger-lines .line2 {
  transition: transform 0.2s ease-in-out;
}

.nav-container .hamburger-lines .line3 {
  transform-origin: 0% 100%;
  transition: transform 0.4s ease-in-out;
}

.navbar .menu-items {
  padding-top: 100px;
  background-color: whitesmoke;
  box-shadow: inset 0 0 2000px rgba(255, 255, 255, .5);
  height: 25vh;
  width: 25vw;
  transform: translate(-200%);
  display: flex;
  flex-direction: column;
  margin-left: -179px;
  transition: transform 0.5s ease-in-out;
  text-align: center;
}

.navbar .menu-items li {
  margin-bottom: 1.2rem;
  font-size: 1.5rem;
  font-weight: 500;
}


.nav-container input[type="checkbox"]:checked ~ .menu-items {
  transform: translateX(0);
}

.nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line1 {
  transform: rotate(45deg);
}

.nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line2 {
  transform: scaleY(0);
}

.nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line3 {
  transform: rotate(-45deg);
}

.nav-container input[type="checkbox"]:checked ~ .logo{
  display: none;
}