@import url('https://fonts.googleapis.com/css2?family=Bungee+Outline&display=swap');

.projects-page{
  display: grid;
  grid-template-columns: repeat(15, 7%);
  grid-template-rows: repeat(15, 7%);
  background-color: whitesmoke;
  height: 100vh;
  overflow: scroll;
}

.projects-blerb{
  grid-row: 2;
  grid-column: 4 / span 8;
  border: 2px solid #A0C1B9;
  box-shadow: 4px 4px #706993, 7px 7px black;
  background-color: white;
  padding: 10px;
  height: 20px;
  font-family: 'Short Stack', cursive
}

.projects-wrapper{
  position : relative;
  grid-row: 8;
  grid-column: 1 / span 4;
  width : 1100px;
  display : flex;
  flex-direction: column;
  align-items : center;
  justify-content : center;
  flex-wrap : wrap;
  padding : 30px; 
}

.projects-wrapper .project-card{
  position: relative;
  max-width : 405px;
  height : 230px;  
  background-color : #fff;
  margin : 30px 10px;
  padding : 20px 15px;
  
  display : flex;
  flex-direction : column;
  box-shadow : 0 5px 20px rgba(0,0,0,0.5);
  transition : 0.3s ease-in-out;
  border-radius : 15px;
  border: 4px solid #706993;
}

.projects-wrapper .project-card:hover{
  height: 320px;
}

.projects-wrapper .project-card .image{
  position : relative;
  width : 350px;
  height : 200px;
  background-color: rgba(252, 249, 249, 0);
  top : -26%;
  left: -2px;
  box-shadow : 0 5px 20px rgba(0,0,0,0.2);
  z-index : 1;
}

.projects-wrapper .project-card .image img {
  max-width : 400px;
  height: 200px;
  border-radius : 5px;
  /* border: 4px solid #706993; */
}

.projects-wrapper .project-card .content{
  position : relative;
  top : -128px;
  padding : 10px 15px;
  color : #111;
  text-align : center;
  visibility : hidden;
  opacity : 0;
  transition : 0.3s ease-in-out;
}

.projects-wrapper .project-card:hover .content{
  margin-top : 30px;
  visibility : visible;
  opacity : 1;
  transition-delay: 0.2s;
}

.git-link{
  font-size: 30px;
}

a{
  text-decoration: none;
  color: black;
  transition: all 0.2s ease-in-out;
}

a:hover{
color: #A0C1B9;
}

.site-link{
  margin-left: 15px;
  margin-bottom: -100px;
}